html {
    overflow: hidden;
}


.on_button, .off_button {
    margin-bottom: 10px;
    width:600px;
    margin-right: auto;
    margin-left : auto;
}

.temperature_button {
    width:600px;
}


#cool_button, #hot_button {
    width: 49%;
}

#off_button {
    width: 100%;
    margin-bottom: 10px;
}

#temp_up_button, #temp_down_button , #temp_desicion_button{
    margin-bottom: 10px;
    width: 32%
}
